<% include common/header.ejs %>

<div class="main-container  container-fluid">
<div class="row">
<div class="left-panel">
<div class="page-title">
    <h2>
        <span class="count-tile" id="count-title">Усі піци</span>
        <span class="badge orange pizza-count" id="pizza-count">8</span>
    </h2>
</div>
<div class="all-pizza-type-wrap">
    <ul class="nav nav-pills all-pizza-type">
        <li role="presentation" class="btn chooseBtn active pizza-filter-button" id="filter-button-all-pizza">

                Усі

        </li>
        <li role="presentation" class="btn chooseBtn pizza-filter-button" id="filter-button-meat">

                Мясні

        </li>
        <li role="presentation" class="btn chooseBtn pizza-filter-button" id="filter-button-pineapples">

                З ананасами

        </li>
        <li role="presentation" class="btn chooseBtn pizza-filter-button" id="filter-button-mushrooms">

                З грибами

        </li>
        <li role="presentation" class="btn chooseBtn pizza-filter-button" id="filter-button-ocean">

                З морепродуктами

        </li>
        <li role="presentation" class="btn chooseBtn pizza-filter-button" id="filter-button-vega">

                Вега

        </li>
    </ul>
</div>

<div class="row pizza-list" id="pizza_list">

</div>

<% include common/rightPanel.ejs %>


</div>
</div>
</div>

<% include common/footer.ejs %>