<% include common/header.ejs %>

<div class="">
    Order page
</div>

<div class="" id="googleMap">
    Map
</div>
<!-- місце для віджету -->
<div id="liqpay">
    Liqpay
</div>

<!-- піключаємо скрипт -->
<script src="//static.liqpay.com/libjs/checkout.js"></script>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB3cf_Z6HzgwGp8_E02YTG7dO9pOOLy_B0">
</script>

<% include common/footer.ejs %>