
<div class="right-panel">
    <div class="r1">
                <span class="order-list-title">
                    Замовлення
                    <!--<span class="badge orange orders-count-span">0</span>-->
                </span>

                <span class="clear-order-wrap clear-order " style="display: none;" >
                    Очистити замовлення
                </span>

    </div>
    <div class="all-orders r2 " id="cart">
        <div class="no-order-text">Пусто в холодильнику?<br>Замовте піцу!
        </div>
    </div>

    <div class="order-state r3">
                <span class="sum-title" style="display: none;">
                    Сума замовлення
                </span>
        <span class="sum-number" style="display: none;">115 грн</span>
        <div class="do-order-button">

            <button type="button" class="btn btn-warning btn-lg btn-block button-order"  >
                Замовити
            </button>

        </div>

    </div>
</div>